# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs configuration
.idea/
.vscode/

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production build
build/

# Local env files
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Other
.DS_Store
*.pem
