@import 'src/theme';

header {
	& .header__logo {
		pointer-events: none;
		height: 30vmin;

		@media (prefers-reduced-motion: no-preference) {
			@keyframes App-logo-spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}

			animation: App-logo-spin infinite 5s linear;
		}
	}
}

.wedding {
	font-size: $h1-font-size;
	font-weight: bold;

	margin: 3rem 0;

	&::before {
		content: '<';
	}

	&::after {
		content: '>';
	}

	&:last-child {
		&::before {
			content: '</';
			margin-right: 0.5rem;
		}
	}
}
