@import 'themes/default';

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	// Hack for easily read font sizing (now 1rem = 10px, 1.1rem = 11px and so on)!
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: $default-font-size;
	color: $text-primary-color;

	background-color: $background-primary-color;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input,
textarea {
	font-family: inherit;
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: $decor-tertiary-color;

	&:hover {
		color: $decor-primary-color;
	}
}

.italic-text {
	font-style: italic;
}

.content {
	display: flex;
	flex-flow: column;
	padding: 0 3rem;

	@include ipad-view {
		width: 100%;
	}

	@include desktop-view {
		width: 60%;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 3.5rem;
	background-color: $decor-primary-color;
	color: $text-primary-color;
	font-weight: 500;

	cursor: pointer;
	transition: letter-spacing 1s ease-in-out;

	&:hover,
	&:focus {
		background-color: $decor-tertiary-color;
		border: 1px solid $decor-tertiary-color;
		letter-spacing: 0.5rem;
	}
}
