@import 'theme';

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	// Hack for easily read font sizing (now 1rem = 10px, 1.1rem = 11px and so on)!
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: $default-font-size;
	color: $text-primary-color;

	background-color: $background-primary-color;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input,
textarea {
	font-family: inherit;
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: $decor-tertiary-color;

	&:hover {
		color: $decor-primary-color;
	}
}

.italic-text {
	font-style: italic;
}

nav {
	width: 80%;

	& > ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;

		&::before {
			content: 'TODO:';
			align-self: center;
			font-style: italic;
			color: $decor-primary-color;
		}

		&:last-child {
			&::before {
				content: 'DONE:';
				align-self: center;
				font-style: italic;
				color: $decor-secondary-color;
			}
		}
	}

	& li {
		margin: 1rem;

		&:nth-child(odd) {
			color: $text-secondary-color;
		}
	}

	& a {
		text-decoration: none;
		color: inherit;
	}
}

.content {
	display: flex;
	flex-flow: column;
	padding: 0 3rem;

	@include ipad-view {
		width: 100%;
	}

	@include desktop-view {
		width: 60%;
	}
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	& > label {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		@keyframes rotating-stars {
			to {
				transform: rotate(360deg);
			}
		}

		// STARS FOCUS ANIMATION
		&:focus-within::before,
		&:focus-within::after {
			content: '*';
			font-size: $h2-font-size;
			line-height: 0;
			padding-top: 1rem;
			animation: rotating-stars 1s ease-in-out infinite alternate;
		}

		&:focus-within::before {
			margin-right: 1rem;
		}

		&:focus-within::after {
			margin-left: 1rem;
		}
	}

	& input,
	& textarea {
		width: 100%;
		min-height: 3.5rem;
		padding: 0 3rem;
		margin: 0.5rem 0;

		background-color: $background-primary-color;
		border: 1px solid $decor-primary-color;
		color: $text-primary-color;

		@include phone-view {
			width: 80%;
		}

		@include ipad-view {
			width: 70%;
		}

		@include desktop-view {
			width: 60%;
		}

		&::placeholder {
			color: $decor-secondary-color;
			opacity: 1;
		}
	}

	& textarea {
		resize: none;
		min-height: 10rem;
		padding: 1rem 3rem;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 3.5rem;
	background-color: $decor-primary-color;
	color: $text-primary-color;
	font-weight: 500;

	cursor: pointer;
	transition: letter-spacing 1s ease-in-out;

	&:hover,
	&:focus {
		background-color: $decor-tertiary-color;
		border: 1px solid $decor-tertiary-color;
		letter-spacing: 0.5rem;
	}
}
