@import 'theme';

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	// Hack for easily read font sizing (now 1rem = 10px, 1.1rem = 11px and so on)!
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: $default-font-size;
	color: $text-primary-color;

	background-color: $background-primary-color;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100vh;
	padding: 0 3rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input,
textarea {
	font-family: inherit;
}

h1,
h2,
h3 {
	text-align: center;
}

header {
	text-align: center;
}

nav {
	& > ul {
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;

		&::before {
			content: 'TODO:';
			align-self: center;
			font-style: italic;
			color: $decor-primary-color;
		}

		&:last-child {
			&::before {
				content: 'DONE:';
				align-self: center;
				font-style: italic;
				color: $decor-secondary-color;
			}
		}
	}

	& li {
		margin: 1rem;

		&:nth-child(odd) {
			color: $text-secondary-color;
		}
	}

	& a {
		text-decoration: none;
		color: inherit;
	}
}

.content {
	@include ipad-view {
		width: 100%;
	}

	@include desktop-view {
		width: 60%;
	}
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;

	& > input,
	& > textarea {
		width: 100%;
		min-height: 3.5rem;
		padding: 0 3rem;
		margin: 0.5rem;

		background-color: $background-primary-color;
		border: 1px solid $decor-primary-color;
		color: $text-primary-color;

		@include ipad-view {
			width: 70%;
		}

		@include desktop-view {
			width: 60%;
		}

		&::placeholder {
			color: $decor-secondary-color;
			opacity: 1;
		}

		// STARS ON ACTIVE AND FOCUS ANIMATION
		& + span::before {
			content: '*';
			font-size: $h2-font-size;
			position: absolute;
			top: 0;
			left: 0;

			@include desktop-view {
				margin-left: 5rem;
			}
		}

		& + span::after {
			content: '*';
			font-size: $h2-font-size;
			position: absolute;
			top: 0;
			right: 0;

			@include desktop-view {
				margin-right: 5rem;
			}
		}
	}

	& > input:nth-last-child(2) {
		margin-top: 2.5rem;
	}

	& > textarea {
		resize: none;
		min-height: 10rem;
		padding: 1rem 3rem;
	}
}

.button {
	background-color: $decor-primary-color;
	color: $text-primary-color;
	cursor: pointer;

	@keyframes letters {
		100% {
			letter-spacing: 0.5rem;
		}
	}

	&:hover {
		background-color: $decor-tertiary-color;
		border: 1px solid $decor-tertiary-color;
		animation: letters 2s ease-in-out;
	}
}
